@font-face {
    font-family: 'BebasNeue';
    src: url('/fonts/BebasNeue-Regular.ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('/fonts/SpaceGrotesk-VariableFont_wght.ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}


:root {
    --radius: 0.65rem;
    --background: oklch(0.13 0.02 232.47);
    --foreground: oklch(0.96 0.02 281.59);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(0.85 0.07 242.89);
    --secondary: oklch(0.49 0.28 266);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --accent: oklch(0.967 0.001 286.375);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.92 0.004 286.32);
    --input: oklch(0.92 0.004 286.32);
    --ring: oklch(0.705 0.213 47.604);
    
    /* ****Uniforms Colors*** */
    --topColor: #1714c2;
    --bottomColor: #6ee2e0;
}

@theme {
    /* breakpoint */
    --breakpoint-*: initial;
    --breakpoint-tablet: 40rem;
    --breakpoint-laptop: 64rem;
    --breakpoint-desktop: 80rem;

    /* Font-Family */
    --font-BebasNeue: 'BebasNeue', 'sans-serif';
    --font-SpaceGrotesk: 'SpaceGrotesk', 'sans-serif';

    /* Colors */
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-border: var(--border);

    /* Text-size */
    --text-headline-1: clamp(1.25rem, 0.7308rem + 2.3077vw, 3.5rem);
    --text-headline-1--line-height: 100%;
    --text-headline-1--letter-spacing: -0.01rem;
    --text-headline-1--font-weight: bold;

    --text-headline-2: clamp(1.25rem, 1.0769rem + 0.7692vw, 2rem);
    --text-headline-2--line-height: 100%;
    --text-headline-2--letter-spacing: -0.025rem;
    --text-headline-2--font-weight: normal;

    --text-headline-3: clamp(1rem, 0.7807rem + 0.7018vw, 1.5rem);
    --text-headline-3--line-height: 120%;
    --text-headline-3--letter-spacing: -0.025rem;
    --text-headline-3--font-weight: normal;

    --text-paragraph: clamp(1rem, 0.9452rem + 0.1754vw, 1.125rem);
    --text-paragraph--line-height: 150%;
    --text-paragraph--letter-spacing: 0.0175rem;
    --text-paragraph--font-weight: normal;

     /* Wir definieren hier eine neue Utility-Klasse "bg-noise" */
  --background-image-noise: url("data:image/svg+xml,%3Csvg viewBox='0 0 500 500' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
