@import "tailwindcss";
@import './brand.css';

@theme {
  /* Wir definieren hier eine neue Utility-Klasse "bg-noise" */
  --background-image-noise: url("data:image/svg+xml,%3Csvg viewBox='0 0 500 500' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}


body::after {
  /* 1. Tailwind-Logik mit @apply */
  @apply fixed inset-0 z-9999 pointer-events-none opacity-[0.09] content-[''] bg-repeat mix-blend-overlay;

  /* 2. Das Bild als normales CSS (ist sicherer und lesbarer bei langen URLs) */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 500 500' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.68' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.w-container {
    @apply max-w-[1440px] mx-auto px-4;
}

section {
    @apply w-full h-full
}

button {
    @apply cursor-pointer ;
} 

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE und Edge */
  scrollbar-width: none;     /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}