@import "tailwindcss";
@import "./lenis.css";
@import './brand.css';

// html, body {
    -ms-overflow-style: none;  /* IE und Edge */
    scrollbar-width: none;     /* Firefox */
  }
  /* Chrome, Safari, Opera */
 /*  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  } */

body{
  @apply overflow-x-clip bg-background text-foreground font-SpaceGrotesk;
}


body::after {
  /* Sicherste Methode für Pseudo-Elemente */
  content: "";
  
  /* Tailwind Apply */
  /* WICHTIG: z-[9999] mit Klammern! */
  @apply fixed inset-0 z-[9999] pointer-events-none;
  
  /* Zum Testen erstmal höher setzen (z.B. 0.2), dann wieder auf 0.05 oder 0.09 runter */
   @apply opacity-[0.05]; 
  
  /* Overlay ist tricky. Wenn du nichts siehst, lösche mix-blend-overlay mal testweise */
 /*  @apply mix-blend-overlay;  */

    @apply backdrop-contrast-100;

  /* Dein SVG (korrekt) */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 500 500' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.w-container {
    @apply max-w-[1728px] mx-auto px-4;
}

section {
    @apply w-full h-full
}

a{@apply inline-flex}

#nav-list[data-state="open"] {
      @apply flex fixed top-16 left-0 w-full h-[calc(100vh-4rem)] 
            overflow-auto bg-amber-600 text-[#fef4b8] flex-col gap-1 p-4
            /* Styling der Listen-Items im mobilen Zustand */
            [&_li]:w-full [&_li]:border-b [&_li]:border-gray-100 
            [&_li]:py-4 [&_a]:text-lg;
   } 

