---
import PageLoader from "@components/PageLoader.astro";
import AboutSection from "@components/Start/AboutSection.astro";
import Customers from "@components/Start/Customers.astro";
import HeroSection from "@components/Start/HeroSection.astro";
import ServicesSection from "@components/Start/ServicesSection.astro";
import ShopEssentialsSection from "@components/Start/ShopEssentialsSection.astro";
import TaglineSection from "@components/Start/TaglineSection.astro";
import WhyUs from "@components/Start/WhyUs.astro";
import ControlBar from "@components/ui/ControlBar.astro";
import ThreeBackground from "@components/ui/ThreeBackground.astro";
import Layout from "@layouts/Layout.astro";

/* romove all unseed imports and delete components */
---

<Layout title="Start">
	<!-- <PageLoader /> -->

	<main class="relative min-h-screen mb-[36vh] z-10 bg-background">
		<HeroSection />
		<Customers />
		<WhyUs />
		<ServicesSection />

		<AboutSection />

		<!-- <ControlBar /> -->
	</main>
</Layout>
