---
import Placeholder from "../components/Placeholder.astro";
import HeroSection from "../components/Start/HeroSection.astro";
import ShopEssentialsSection from "../components/Start/ShopEssentialsSection.astro";
import TaglineSection from "../components/Start/TaglineSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Start">
	<main>
		<HeroSection />
		<TaglineSection />
		<ShopEssentialsSection />
		<Placeholder />
	</main>
</Layout>
