---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Leistungen">
   <div class="w-container py-40">
      <h1 class="mb-12">Leistungen</h1>

      <div
         class="wrapper-btn h-10 w-fit border border-primary px-4 bg-red-300 group"
      >
         <div class="group-hover:-translate-y-10 transition duration-500">
            <span class="h-10 flex items-center">Kontakt</span>
            <span class="h-10 flex items-center">Kontakt</span>
         </div>
      </div>
   </div>
</Layout>
