---
import Button from "@components/ui/Button.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Über-mich">
   <main class="relative min-h-screen mb-[36vh] z-10 bg-background">
      <div class="w-container h-screen mt-40">
         <h1>Über-mich</h1>
         <div class="">
            <h1
               class="text-4xl font-bold text-balance text-center max-w-4xl mx-auto"
            >
               About
            </h1>
            <Button> plus </Button>
            <a href="/" class="bg-accent px-4 py-2">accent</a>

            <div class="cards mt-16 flex gap-16 flex-wrap">
               <div class="size-80 dark-void">dark-void</div>
               <div class="size-80 liquid-lava">liquid-lava</div>
               <div class="size-80 gluon-grey">gluon-grey</div>
               <div class="size-80 slate-grey">slate-grey</div>
               <div class="size-80 dusty-grey">dusty-grey</div>
               <div class="size-80 snow"></div>
               <div class="size-80 test"></div>
            </div>
         </div>
      </div>
   </main>
</Layout>
