---

---

<section id="about">
   <div class="w-full h-screen">
      <div class="w-full h-full grid place-content-center">
         <h1
            class="text-4xl font-bold text-balance text-center max-w-4xl mx-auto"
         >
            About
         </h1>

         <p class="text-[#a98718]">color chancher</p>
      </div>
   </div>
</section>
