---
import Button from "@components/ui/Button.astro";
---

<section id="about">
   <div class="w-container h-screen mt-40">
      <div class="">
         <h1
            class="text-4xl font-bold text-balance text-center max-w-4xl mx-auto"
         >
            About
         </h1>
         <Button> plus </Button>
         <a href="/" class="bg-accent px-4 py-2">accent</a>
      </div>
   </div>
</section>
