---

---

<section id="hero">
   <div class="w-full h-full">
      <div class="first w-full h-screen grid place-content-center">
         <h1
            class="text-6xl text-balance text-center max-w-6xl mx-auto font-BebasNeue"
         >
            Discover Quantum, revolutionizing the packaging industry with
            unparalleled elasticity and durability. Where traditional wraps
            falter, Quantum stands firm.
         </h1>
      </div>

      <div class="second w-full h-full pt-[470px] pb-[280px]">
         <div class="w-full max-h-[776px]">
            <h2 class="text-6xl font-BebasNeue text-center mb-96">
               Strong film performance
            </h2>

            <h3
               class="text-3xl font-BebasNeue w-1/2 text-balance text-center mb-20 mx-auto"
            >
               In the world of packaging, every detail counts. Quantum emerges
               at the intersection of innovation and necessity, designed for
               those who seek the best.
            </h3>

            <div class="cards flex gap-14 w-[67.5%] mx-auto text-primary">
               <p class="l">
                  Traditional wraps have set a standard; Quantum redefines it.
                  Every inch is engineered for optimal performance, embracing
                  products with unmatched resilience. While many films promise
                  protection, Quantum delivers it consistently, adapting to
                  diverse challenges with grace and tenacity.
               </p>

               <p class="r">
                  Beyond just wrapping, Quantum is a testament to advanced
                  material science. Its properties, meticulously enhanced, work
                  in harmony to safeguard every package. From the initial
                  stretch to long-term retention, experience the peace of mind
                  that only Quantum's superior design can provide.
               </p>
            </div>
         </div>
      </div>
   </div>
</section>
