---
import ArrowLongRight from "@assets/svg/arrow-long-right.svg";
import Star from "@assets/svg/Star.svg";
import Button from "@components/ui/Button.astro";
import ThreeBackground from "@components/ui/ThreeBackground.astro";
---

<section id="hero" class="">
   <div
      class="absolute -top-[200px] -left-[100px] -z-10 pointer-events-none w-full h-fit"
   >
      <ThreeBackground />
   </div>
   <div class="w-container h-screen flex flex-col justify-end pb-16 space-y-10">
      <h1 class="text-8xl text-balance max-w-6xl font-BebasNeue">
         Webdesign, das mit dir wächst
      </h1>

      <p class="text-lg text-muted-foreground text-balance max-w-4xl">
         Technologien entwickeln sich rasant – deine Website sollte Schritt
         halten. Ich gestalte flexible, skalierbare Lösungen, die heute
         beeindrucken und morgen genauso stark performen.
      </p>

      <Button variant="dark">
         <a
            href={`${import.meta.env.BASE_URL}/arbeiten`}
            class="w-fit flex items-center gap-x-6 pl-2 pr-0.5 py-1"
            >Meine lezten arbeiten <span class="bg-primary rounded-md p-1"
               ><ArrowLongRight /></span
            ></a
         >
      </Button>

      <div class="flex items-center space-x-2">
         <span
            class="bg-primary text-background size-5 rounded-full inline-flex items-center justify-center"
            ><Star width={16} /></span
         >
         <p>4.7 Bewertungen auf</p>

         <p>GOOGLE</p>
      </div>
   </div>
</section>
