---
import { Image } from "astro:assets";
import Solar from "@assets/images/solar.png";
import Tennis from "@assets/images/tennis.png";
---

<section class="py-40">
   <div class="w-container space-y-40">
      <div class="top grid grid-cols-[1fr_2fr]">
         <div class="w-full h-full">
            <span class="text-primary text-sm">004</span>
            <p>Projekte die begeistern</p>
         </div>
         <div class="w-full flex flex-col space-y-8">
            <h2 class="text-8xl">Lösungen, die Maßstäbe setzen.</h2>
            <p class="text-muted-foreground text-balance">
               Innovativ, kraftvoll und auf maximale Wirkung ausgelegt – unsere
               Lösungen setzen neue Maßstäbe und bringen Ihr Business spürbar
               nach vorn.
            </p>
         </div>
      </div>

      <div class="grid grid-cols-2 gap-8">
         <div
            class="bg-accent w-full h-h-full p-8 border border-border rounded-2xl"
         >
            <Image
               src={Tennis}
               alt="Tennis Webseite Paris"
               class="w-full h-full object-cover rounded-xl"
               width={1920}
               height={1080}
            />
         </div>

         <div
            class="bg-accent w-full h-h-full p-8 border border-border rounded-2xl"
         >
            <Image
               src={Solar}
               alt="Solar Webseite"
               class="w-full h-full object-cover rounded-xl"
               width={1920}
               height={1080}
            />
         </div>

         <div
            class="bg-accent w-full h-h-full p-8 border border-border rounded-2xl"
         >
            <Image
               src={Tennis}
               alt="Tennis Webseite Paris"
               class="w-full h-full object-cover rounded-xl"
               width={1920}
               height={1080}
            />
         </div>

         <div
            class="bg-accent w-full h-h-full p-8 border border-border rounded-2xl"
         >
            <Image
               src={Tennis}
               alt="Tennis Webseite Paris"
               class="w-full h-full object-cover rounded-xl"
               width={1920}
               height={1080}
            />
         </div>
      </div>
   </div>
</section>
