---

---

<section id="services">
   <div class="w-container h-full flex flex-col pt-6 py-12">
      <div class="max-w-4xl h-full space-y-8">
         <p class="text-primary">Services</p>
         <h2 class="text-4xl font-bold text-balance max-w-4xl">
            Meine Lösungen für Ihr digitales Wachstum
         </h2>

         <p class="text-muted-foreground text-balance">
            Ich bieten Expertenleistungen für Webflow-Design, -entwicklung, SEO
            und Support – maßgeschneidert, um die Leistung, das Nutzererlebnis
            und das Wachstum Ihrer Website zu steigern.
         </p>
      </div>

      <div class="cards grid grid-cols-3 gap-8 mt-32">
         <div
            class="card space-y-8 p-4 bg-accent rounded-lg border border-white/20"
         >
            <span class="inline-flex">icon</span>
            <h3>Design</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
         </div>
         <div
            class="card space-y-8 p-4 bg-accent rounded-lg border border-white/20"
         >
            <span class="inline-flex">icon</span>
            <h3>Design</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
         </div>
         <div
            class="card space-y-8 p-4 bg-accent rounded-lg border border-white/20"
         >
            <span class="inline-flex">icon</span>
            <h3>Design</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
         </div>
         <div
            class="card space-y-8 p-4 bg-accent rounded-lg border border-white/20"
         >
            <span class="inline-flex">icon</span>
            <h3>Design</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
         </div>
         <div
            class="card space-y-8 p-4 bg-accent rounded-lg border border-white/20"
         >
            <span class="inline-flex">icon</span>
            <h3>Design</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
         </div>
         <div
            class="card space-y-8 p-4 bg-accent rounded-lg border border-white/20"
         >
            <span class="inline-flex">icon</span>
            <h3>Design</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
         </div>
      </div>
   </div>
</section>
