---
import Sparkles from "../../assets/svg/sparkles.svg";
---

<section class="bg-white py-32">
   <div class="relative max-w-6xl mx-auto px-4 text-center">
      <!-- Small Img text -->
      <div
         class="absolute hidden md:block size-20 bg-zinc-300 rounded-full left-80 -top-10 overflow-clip"
      >
         <div
            class="size-full bg-[url(../assets/images/port-1.webp)] bg-cover bg-top"
         >
         </div>
      </div>

      <h2
         class="text-4xl lg:text-5xl font-extrabold leading-tight text-zinc-900 tracking-tight"
      >
         Puremoda is pioneering for Eleveted Everyda <br /> Life, Styles change
         <span
            class="border border-zinc-600 w-fit inline-flex items-center rounded-full pr-4 pl-2 pb-1 gap-2"
         >
            <Sparkles class={"size-7"} /> with seasons
         </span> , united <br /> by the liberating essence of travle-inspired lightheartedness
      </h2>

      <!-- small image -->
      <div
         class="absolute overflow-clip size-20 hidden md:block bg-zinc-300 rounded-full left-64 -bottom-4"
      >
         <div
            class="size-full bg-[url(../assets/images/port-1.webp)] bg-cover bg-top"
         >
         </div>
      </div>

      <div
         class="absolute overflow-clip size-20 hidden md:block bg-zinc-300 rounded-full right-64 bottom-0"
      >
         <div
            class="size-full bg-[url(../assets/images/port-1.webp)] bg-cover bg-top"
         >
         </div>
      </div>
   </div>
</section>
