---

---

<footer class="w-full h-full bg-background/20">
   <div
      class="px-4 w-full h-96 flex flex-col items-center justify-between bg-linear-to-b from-background/10 to-primary/20"
   >
      <div class="h-full flex items-center justify-center">
         <p>Footer</p>
      </div>
      <div class="h-14">
         <span class="text-sm text-zinc-400">Copy right @ 2026</span>
      </div>
   </div>
</footer>
