---
interface Props {
   variant?: "dark" | "light";
   styles?: string;
}

const { variant, styles } = Astro.props;

//TODO - remove debug
//console.log(styles);

let variantStyles = "";

switch (variant) {
   case "dark":
      variantStyles = `bg-border text-foreground ${styles} `;
      break; // Stops execution within the switch
   case "light":
      variantStyles = `bg-foreground text-background ${styles}`;
      break;
   // ... more cases ...
   default:
      variantStyles =
         "w-fit text-black border border-background bg-white rounded-lg p-2";
}
---

<button class:list={[variantStyles]}>
   <slot />
</button>
