---
import AstroIcon from "@assets/svg/brand/astro.svg";
import GsapIcon from "@assets/svg/brand/gsap.svg";
import NextIcon from "@assets/svg/brand/next.svg";
import OpenGlIcon from "@assets/svg/brand/opengl.svg";
import ReactIcon from "@assets/svg/brand/react.svg";
import TailwindIcon from "@assets/svg/brand/tailwind.svg";
import ThreeIcon from "@assets/svg/brand/three.svg";
import TypescriptIcon from "@assets/svg/brand/typescript.svg";
import WebglIcon from "@assets/svg/brand/webgl.svg";

const Icons = [
   GsapIcon,
   AstroIcon,
   ReactIcon,
   NextIcon,
   TailwindIcon,
   TypescriptIcon,
   ThreeIcon,
   OpenGlIcon,
   WebglIcon,
];

const { direction = "toLeft" } = Astro.props;


---

<div class="marquee-outer relative max-w-full select-none overflow-clip" 
      data-direction={direction}>
   <div
      class="w-[120px] h-full absolute top-0 left-0 bg-linear-to-r from-background to-transparent z-10"
   >
   </div>
   <div
      class="w-[120px] h-full absolute top-0 right-0 bg-linear-to-r from-transparent to-background z-10"
   >
   </div>

   <div class="marquee-inner flex w-max will-change-transform">
      <div
         class="marquee-track flex shrink-0 gap-32 pl-32 whitespace-nowrap"
         
      >
         {
            Icons.map((Icon) => (
               <div class="flex items-center justify-center"> <!-- Optionaler Wrapper für Icon Ausrichtung -->
                  <Icon class="icon" />
               </div>
            ))
         }
      </div>

      <div
         class="marquee-track flex shrink-0 gap-32 pl-32 whitespace-nowrap"
      >
         {
            Icons.map((Icon) => (
               <div class="flex items-center justify-center"> <!-- Optionaler Wrapper für Icon Ausrichtung -->
                  <Icon class="icon" />
               </div>
            ))
         }
      </div>
   </div>
</div>

<script>
   import gsap from "gsap";
   import { ScrollTrigger } from "gsap/ScrollTrigger";

   gsap.registerPlugin(ScrollTrigger);

   const marqueeElements = gsap.utils.toArray<HTMLElement>(".marquee-outer")

   marqueeElements.forEach((element)=>{
      const tracks = element.querySelectorAll(".marquee-track")

      const direction = element.getAttribute("data-direction")

      let speed = 30;

      // Logik-Check:
      // toRight: Startet bei -100% (links außen) und fährt auf 0% (Start)
      // toLeft (else): Startet bei 0% und fährt auf -100%
      const startX = direction === "toRight" ? -100 : 0;
      const endX = direction === "toRight" ? 0 : -100;

      gsap.set(tracks, { xPercent: startX });

      const tween = gsap.to(tracks, {
         xPercent: endX,
         duration: speed,
         ease: "none",
         repeat: -1,
         paused: true // Warten auf ScrollTrigger
      });

      ScrollTrigger.create({
         trigger: element,
         start: "top bottom",
         end: "bottom top",
         onToggle: (self) => {
            if (self.isActive) {
               tween.play();
            } else {
               tween.pause();
            }
         },

         // Richtungswechsel bei Scroll
         onUpdate: (self) => {
             // self.direction ist 1 (Runter) oder -1 (Hoch)
             // Wir animieren den timeScale, damit der Wechsel weich ist,
             // statt abrupt umzuschalten.
             gsap.to(tween, { 
                 timeScale: self.direction, 
                 duration: 0.3, // Wie schnell reagiert er? (0.5s Übergang)
                 overwrite: true 
             });
         }
      });
   })
</script>

 